.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
  }
  
  .container1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    /* align-items: center; */
    border-radius: 0.5rem;
    overflow: hidden;
    width: 900px;
    gap: 10px;
    height: 600px;
    /* margin: 0 1rem; */
    background-color: var(--neutral-white-100);
    padding: 10px;
  
    /* position: absolute;
    left: 50%;
    top: 50%; 
    transform: translate(-50%, -50%); */
    /* grid-template-areas:
      "step info"
      "step info"; */
  }
  
  .steps {
    background-image: url(../../../assets/images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100%;
    /* width: 30%; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
    /* margin-inline: auto; */
    padding: 35px 30px;
    border-radius: 10px;
    gap: 20px;
    /* text-align: left; */
  
    /* grid-area: step; */
  }
  .stepNumberContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .number {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
  }
  .stepNumber {
    color: var(--neutral-gray-400);
  }
  .number {
    color: var(--neutral-white-100);
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  .activeNum {
    background-color: var(--neutral-gray-200);
    border: 1px solid var(--perimary-blue-300);
    color: black;
  }
  
  label {
    display: block;
  }
  p {
    font-size: var(--fs-para);
  }
  h3 {
    color: var(--neutral-white-100);
  }
  
  .content-container{
    margin: 40px 80px 15px 80px;
  }
  
  
  
  @media screen and (max-width: 1200px) and (min-width: 992px) {
  }
  @media screen and (max-width: 992px) and (min-width: 786px) {
    .card-article {
      width: 45%;
    }
  }
  @media screen and (max-width: 786px) and (min-width: 600px) {
  }
  @media screen and (max-width: 700px) {
    .container {
      align-items: flex-start;
    }
    .container1 {
      grid-template-columns: 1fr;
      padding: 0;
      border-radius: 0;
      background-color: var(--neutral-gray-200);
      height: 100vh;
      grid-template-areas:
        "step"
        "info"
        "btn";
        justify-content: space-between;
    }
    .steps {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border-radius: 0;
      background-image: url(../../../assets/images/bg-sidebar-mobile.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom;
      align-items: flex-start;
      height: 200px;
    }
    .stepWord {
      display: none;
    }
  
  }
  