

.plan-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}


/* information */

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  /* width: 80%; */
  margin-inline: auto;
  /* height: 100%;  */
  grid-area: info;
}

.info h1,
h4 {
  color: var(--perimary-blue-400);
}

.info p {
  color: var(--neutral-gray-400);
}

/* cards */

.cardsContainer {
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-bottom: 20px;
}

.card {
  border: 1px solid var(--neutral-gray-300);
  border-radius: 10px;
  width: 130px;
  height: 150px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card:focus,
.card:hover {
  background-color: var(--neutral-gray-200);
  border: 1px solid var(--perimary-blue-300);
}
.active {
  background-color: var(--neutral-gray-200);
  border: 1px solid var(--perimary-blue-300);
}

.card img {
  width: 50px;
  /* margin-bottom: 20px; */
}

/* checkLine */

.checkLine {
  background-color: var(--neutral-gray-200);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin: 0 auto;
  border-radius: 10px;
}

/* toggle button */

.toggle {
  opacity: 0;
}

.toggle + label {
  position: relative;
  padding-left: 5rem;
  padding-top: 1.5rem;
}
.toggle + label::before {
  content: "";
  background-color: var(--perimary-blue-400);
  position: absolute;
  top: 0;
  left: 0;
  width: 3.5rem;
  height: 1.5rem;
  border-radius: 1.25rem;
}

.toggle + label::after {
  content: "";
  background-color: white;
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  top: 0.25rem;
  left: 0.25rem;
  transition: all 0.5s ease-in-out;
}

.toggle:checked + label::before {
  background-color: #20b776;
}
.toggle:checked + label::after {
  transform: translate(2rem, 0);
}

.buttonContainer {
  grid-area: btn;
  margin-inline: auto;
  display: flex;

  width: 100%;
  /* height: 50px; */
  justify-content: space-between;
  align-items: center;
  /* margin-right: 50px; */
  /* position: relative; */
}

.btn {
  background-color: var(--perimary-blue-400);
  color: var(--neutral-white-100);
  padding: 10px 20px;
  border: none;
  height: 50px;
  border-radius: 10px;
  font-size: 14px;
  width: 120px;
  cursor: pointer;
  float: right;
  font-weight: var(--fw-600);
}

.backLink {
  text-decoration: none;
  color: var(--neutral-gray-400);
  font-weight: var(--fw-500);
}
.backLink:hover {
  color: var(--perimary-blue-400);
}

@media screen and (max-width: 700px) {
  

  .info {
    background-color: var(--neutral-white-100);
    padding: 20px;
    border-radius: 10px;
    margin: 0 15px;
    justify-content: center;
    /* align-items: center; */
    /* height: 600px; */
    /* width: 100%; */
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
  }

  .cardsContainer {
    width: 100%;
  }
  .cards {
    grid-template-columns: 1fr;
  }
  .card {
    flex-direction: row;
    height: 70px;
    width: 100%;
    justify-content: flex-start;
    gap: 10px; 
  }

  .buttonContainer {
    background-color: white;
    padding: 20px;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 90px;
    grid-area: btn;
  }
}
