<div class="plan-container">
  <div class="info">
    <h1>Pick add-ons</h1>
    <p>Add-ons help enhance your gaming experience.</p>

    <div class="cardsContainer">
      <div class="cards">
        <div class="card">
          <div class="card-info-container">
            <input type="checkbox" />
            <div>
              <h4>Online service</h4>
              <p>Access to multiplayer games</p>
            </div>
          </div>

          <div class="cardInfo">
            <h4>Arcade</h4>
            <p>$9/mo</p>
          </div>
        </div>
        <div class="card">
          <div class="card-info-container">
            <input type="checkbox" />
            <div>
              <h4>Online service</h4>
              <p>Access to multiplayer games</p>
            </div>
          </div>
          <div class="cardInfo">
            <h4>Advanced</h4>
            <p>$12/mo</p>
          </div>
        </div>
        <div class="card">
          <div class="card-info-container">
            <input type="checkbox" />
            <div>
              <h4>Online service</h4>
              <p>Access to multiplayer games</p>
            </div>
          </div>
          <div class="cardInfo">
            <h4>Pro</h4>
            <p>$15/mo</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="buttonContainer">
    <a class="backLink" routerLink="/select-plan">Go Back</a>
    <button class="btn" routerLink="/">Next Step</button>
  </div>
</div>
